* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.2s;
    font-family: "Poppins", sans-serif;;
}

.rammetto-one-regular {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
    --roxo: #8454f4;
    --rodape1: #1d2331;
    --rodape2: #1f1e2c;
    --branco: white;
    --preto: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    position: relative;
    z-index: 999;
    & .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      & img{
        width: 93px;
        height: 93px;
      }
      & h2{
        color: var(--roxo);
        font-size: 28px;
      }
    }
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    & .air-jordan{
      width: 700px;
      height: 550px;
      padding-right: 30px;
    } & form{
      padding-left: 10px;
      color: var(--roxo);
      & h1{
      font-size: 35px;
    } & .direita{
      font-size: 20px;
      & input{
        border-radius: 4px;
        width: auto;
        padding-left: 8px;
        height: 28px;
      } 
    }& .esquerda{
      font-size: 20px;
      & .generos{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      } & .generos div{
        display: flex;
        gap: 10px;
      } & .fam{
        color: deeppink;
      }& .mas{
        color: deepskyblue;
      }
        & input{
        border-radius: 4px;
        padding-left: 8px;
        width: auto;
        height: 28px;
      } 
    }
    }
  }
  .flex4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  } & .flex4 p{
    color: var(--preto);
    font-size: 15px;
    & a{
      color: var(--roxo);
      font-size: 15px;
    }

  }
.d-flex {
    display: flex;
    gap: 20px;
}
button {
    border-radius: 25px;
    font-size: 20px;
    margin-top: 10px;
    color: var(--branco);
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: var(--roxo);
    border: 5px solid var(--branco);
}

button:hover {
    background-color: var(--branco);
    border: 5px solid var(--roxo);
    color: var(--roxo);
}