* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

:root {
    --roxo: #8454f4;
    --rodape1: #1d2331;
    --rodape2: #1f1e2c;
    --branco: white;
    --preto: black;
}
